body{
    font-size: large;
    margin: 0;
    background: hsla(0, 0%, 2%, 0.75);
    overflow-x: hidden;
}
.sr-only{
    visibility: block;
}
.flex{
    display: flex;
    gap: var(--gap, 1rem);
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 35px;
    width: 35px;
}
.logo a{
    margin: 0.5rem;
    text-decoration: none;
}
.primary-header{
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
}
.primary-navigation{
    list-style: none;
    padding: 0;
    margin: 0;
}
.primary-navigation a{
    text-decoration: none;
}
.primary-navigation a:hover{
    text-decoration: underline;
}
.primary-navigation[data-visible="true"]{
    transform: translateX(0%);
}
.mobile-nav-toggle{
    display: none;
}
.secondary-navigation{
    list-style: none;
    background: hsl(27, 75%, 77%);
    padding: 1rem;
    justify-content: flex-end;
    margin: 0;
}
.secondary-navigation a{
    text-decoration: none;
}
.secondary-navigation a:hover{
    text-decoration: underline;
}
@media (max-width: 31em) {
    .navbar {
        inset: 0 0 0 10%;
        /* position: fixed; */
        z-index: 1000;
        flex-direction: column;
        padding: 2rem 1rem;
        background: hsla(0, 0%, 100%, 0.1);
        align-items:end;

        transform: translateX(100%);
        transition: transform 350ms ease-in;
    }
    .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 9999;
        background: url("./icon-hamburger.svg");
        background-repeat: no-repeat;
        width: 1rem;
        aspect-ratio: 1;
        top: 1rem;
        right: 1rem;
        border: none;
    }
    .primary-header{
        align-items: start;
        margin: 0 0 0 1rem;
    }
    body {
        margin: 0;
    }
}